* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 237, 239);
}

/* ======= MENU =======*/

.header-img {
  height: 20vh;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("img/apples.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-descr {
  font-size: 4rem;
  color: #f5f5f5;

}

.flex-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1rem 1rem;
  background: #3a3a3a;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      list-style-type: none;
    }

    a {
      text-decoration: none;
      color: #f5f5f5;
      padding: 1rem;
      font-weight: 800;
      font-size: 1.3rem;
      transition: all .3s ease-in-out;
    }

    a:hover {
      background: #f5f5f5;
      color: #3a3a3a;
      padding: .3rem 1rem .3rem;
      border-radius: .5rem;
    }
  }

  .buttons a {
    text-decoration: none;
    padding: .5rem 1.5rem;
    background-color: #3a3a3a;
    font-size: 1.1rem;
    border-radius: 2rem;
    color: #f5f5f5;
    transition: all .3s ease-in-out;
  }

  .buttons a:hover {
    background-color: #2e2d2d;
  }

}

.findInDatabase {
  padding: .3rem .6rem;
  border-radius: .5rem;
}

/* ======== HLAVNÍ OBSAH =========== */
.container-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  background: #ffffff;
  border-radius: 1rem;
  padding: 2rem;
  width: 800px;
  max-width: 20rem;
  margin: 1rem;
}

.form-flex {
  display: flex;
  flex-direction: column;
}

.form__heading {
  text-align: center;
}

.form p {
  text-align: center;
  margin-top: 1rem;
}

#login__input-text,
#input-password,
.form__button,
#reg-password-check1,
#reg-password-check2,
#reg-text {
  padding: .5rem 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  margin: 1.5rem 0 1.5px;
  font-style: italic;
  background: rgb(230, 229, 229);
  border: 0;
  max-width: 300px;
}

.password--warning {
  display: none;
  color: red;
}

.form__button--submit {
  background: #ca7c7c;
  color: #fff;
  transition: all .1s;
}

.form__button:hover {
  background: #a33232;
  color: #fff;
  cursor: pointer;
}

.form a {
  text-decoration: none;
  color: #e98fb2;
}

.all-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: space-around;
  padding-top: 2rem;
  margin: 1rem;
}

.all-items--admin {
  justify-content: left;
}

.all-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
}

.one-button {
  padding: .5rem 1rem;
  border-radius: 1rem;
  font-size: 1.1rem;
  transition: all .3s ease-in-out;
}

.one-button:hover {
  background: #3a3a3a;
  color: #f5f5f5;
}

.one-tree-card {
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 15px grey;
  border-radius: .3rem; 
}

.one-tree-card img {
  width: 100%;
  height: 140px;
  border-radius: .3rem;
}

.one-tree-card h2 {
  text-align: center;
  padding: .5rem;
}

.one-tree-card p {
  padding: .5rem;
  text-align: center;
}

.form-button-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* ====== DASHBOARD ======= */

.one-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;

}

.dashboard-p {
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: justify;
  width: 47%;
}

.one-section__img {
  border-radius: .5rem;
  width: 47%;
}

.dashboard-article {
  margin-top: 3rem;
}

/* ===== DETAIL OF TREE ===== */

.full-detail {
  max-width: 800px;
  margin: 2rem auto;
  box-shadow: 0px 0px 15px grey;
  
  h1 {
    text-align: center;
    font-size: 3rem;
    padding-top: 1rem;
  }

  p {
    padding: .7rem;
    font-size: 1.2rem;
  }
}

.no-results {
  text-align: center;
  font-size: 20px;
  padding: 2rem;
}

/* ===== FOOTER ======*/

footer {
  width: 100%;
  line-height: 50px;
  background: #3a3a3a;
  margin-top: 2rem;

  p {
    color: #f5f5f5;
    text-align: center;
  }

}